:root{
  --color-yellow: #f5dd07;
  --color-black: #171719;
  --color-red: #e63946;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.container{
  display: flex;
  justify-content: center;
  padding: 0 2vw;

}

h2{
  text-align: center;
}

body{
  font-size: 1.6rem;
  color : var(--color-red);

}


.controls {
  display: flex;
  align-items: center;
}

.grid-size{
  font-weight : 500;
  margin-bottom : 0.5rem;
}

.apply,.reset{
  margin : 0 auto;
  padding : 0.5rem 1rem;
  border : none;
  background-color: var(--color-yellow);
  border-radius : 0.6rem;
  cursor: pointer;
}

.grid{
  border: 2px solid #61b18e;
  border-radius: 1rem;
  width: 50rem;
  height: 50rem;
  position : relative;
  display: flex;
  flex-flow: row wrap;
   justify-content: space-around; 
}

.box{
  border: 0.5px solid rgba(0,0,0,0.5);
  border-radius: 0.5rem;
}

.box.active{
  background-color: var(--color-yellow)
}